html, body {
  padding: 0;
  margin: 0;
  font-family:anona
}

#root {
  padding: 24px;
}

@font-face {
  font-family: "DarumadropOne";
  src: url("fonts/DarumadropOne-Regular.woff") format("woff");
}